<head></head>

{% include "layout.html" %}
<form method="POST" action="http://martahacksapp.azurewebsites.net/sendsms">
<textarea name="data" id="messageField"></textarea>
<button type="submit">Send</button>
</form>

<script>
    function send() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", 'http://martahacksapp.azurewebsites.net/sendsms', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        var data = {
            "Body":messageField.value
        };
        xhttp.send();
    }
</script>