<head>
 <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet" />
</head>

{% include "layout.html" %}
<body>
    <h2>You can use the MARTA dashboard to send out notifications to all of patrons who have ever used MARTA Text</h2>
    <form method="POST" action="https://martahacksapp.azurewebsites.net/sendsms">
    <div><div class="container"><textarea name="data" id="messageField"></textarea></div></div>
    <div><div class="container"><button type="submit">Send</button></div></div>
    </form>
</body>